*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body{
    text-align: center;
}


@keyframes pop {
  0%   { transform: scale(0); opacity: 0; }
  50%  { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); }
}


#paw4, #paw3, #paw2, #paw1 {
  transform-box: fill-box;
  transform-origin: center;
  opacity: 1;
}


svg {
  width: 100%;
  max-width: 20000px;
  display: block;
  margin: 0 auto;
}



#paw4 {
  animation: pop 2s ease-in-out 0.5s infinite;
}


#paw3 {
  animation: pop 2s ease-in-out 0.5s infinite;
}


#paw2 {
  animation: pop 2s ease-in-out 1s infinite;
}


#paw1 {
  animation: pop 2s ease-in-out 1.5s infinite;
}



